*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: linear-gradient(90deg, rgb(231, 181, 16),rgb(243, 54, 54), rgb(124, 24, 49));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flexbox;
    color: rgb(241, 154, 40);
    padding: 2%;
    text-align:center;
    font-size: 25px;
    text-shadow: black 50px 50px opx;
    align-items: center;
}
@keyframes animacion{
    0%{ background: firebrick; width: 300px; transform: rotate(34deg)}
    20%{background: goldenrod; height: 30px;}
    50%{background: indianred; }
    100%{background: khaki;}
} 

nav ul{
    list-style: none;
    background: rgb(241, 172, 43);
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    transition: all ease-in-out 400ms;
}
ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 21.5px;
}
nav ul li:hover{
    background: burlywood;
}
h3{
    display: inline-block;
    position: relative;
    padding: 5px;
}
h3::after,h3::before{
    content:'';
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: crimson;
    top: 0.6em;
}
h3::after{
    left: -370px;
}
h3::before{
    right: -361px;
}
a{
    color: lavender;
}
.grilla{
    margin-left: 25.9%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    width: 550px;
}
.div_borde{
    border: 1px;
    border-radius: 1em;
    border-style: solid;
    width: 220px;
    height: 60px;
    margin-left:61px;
}
.element{
    width: 60px;
    height: 60px;
    text-align:center;
    padding-top: 10px;
    box-sizing: border-box;
    margin: 5px 62px;
    font-size: 25px;
}
.cuerpo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    width: 1500px;
    margin-left: 10%;
    background-color: cyan;
}
.superior{
    padding-top: 10px;
    box-sizing: border-box;
    border: 5px;
    border-radius: 1em;
    border-style: solid;
    border-color: burlywood;
    width: 400px;
    height: 170px;
    text-align: center;
    margin-left: 39%;
    
}
.mid{
    box-sizing: border-box;
    border: 5px;
    border-radius: 1em;
    border-style: solid;
    border-color: bisque;
    width: 1500px;
    height: 640px;
    margin-left: 10.5%;
    font-size: 20px;
}
.bot{
    box-sizing: border-box;
    text-align: center;
    
    font-size: 30px;
    width: 600px;
    height: 50px;
    margin-left: 32%;
}
#foto{
    margin: 10px;
    border-radius: 1em;
}
#tele{
    margin-left: 7px;
}
.div_borde:hover{
    background: rgba(220, 157, 20, 0.397);
}
footer{
    margin-top: 700px;
}




form{
    margin: 15px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 35px;    
}
.inp{
    border-radius: 5px;
    background-color: #eee;
    border: 2px solid rgb(23, 182, 255);
}
input[type=password] {
    width : 150px;
    margin: 0;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
}
input[type=text] {
    width : 150px;
    margin: 0;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
        -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
}

a:hover{
    color: thistle;
    
}
ol li{
    margin: 30px;
    margin-left: 60px;
}
#content {padding:5px 300px 20px 200px;}
p {line-height:1.8em; text-align:justify;font-family: 'Franklin Gothic Medium', 'Arial Narrow'; margin: 10px;}
#fixed { top:25px; left:10px; width:150px; z-index:10; color:#567; border:1px solid #000; padding:10px;}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 5px;
}
#tlf{
    margin-left: 47.2cm;
    border-radius: 10px 10px 10px 10px;
    margin-top: -35px;
    
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
  
}
  
button:hover{
    background-color: rgb(6, 205, 255);
    transition: ease 1s;
 
}
  
  
main {
    width: 100%;
    height: 120vh;
}
  
.main-title{
    color: var(--black);
    font-size: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;  
    text-decoration: underline;
  
}
  
.main-consigna{
    padding: 1rem 5rem;
    width: 100%;
    height: 80%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  
}
  
  
  
.main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
 
}
  
.blog-title{
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  
}
  
.blogs-main{
    display: grid;
 
}
  
.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
  
}
  
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
  
}
  
.blogs-news-img-container{
    grid-column: 1;
 
}
  
.blogs-news-info-container {
    grid-column: 2;
 
}
  
.blogs-news-info-container p{
    margin-bottom: 3.5rem;
  
}
 
  
.blogs-posts-container{
    padding: 1rem 15rem;
  
}
  
.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
 
}
  
.blogs-button { 
    border: var(--blue) solid 1px;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    color: var(--blue);
  
}
  
.blogs-button:hover {
      border: 1px solid white;
      color: white;
      background-color: var(--blue);
    transition: background-color 0.5s ease;
  
}
  
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left  : 10px;
    max-width: 30%;
    margin-bottom: 50px;
 
}
  
.blogs-posts-container .post-container p{
    margin-bottom: 35px;
 
}
  
.blogs-posts-container .post-container img{
    width: 100%;
  
}
  